[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
    class Node:
    def to_str
    def repok
    def is_balanced
    def is_balanced_helper
    def is_acyclic
    def is_ordered
    def is_ordered2
    def parents_ok

